<%- include('header') %>

<body>
<section id="about">
    <hr class="hr-to-paragraph">

    <div class="about-1 text-center">
        <h1>ABOUT US</h1>

    </div>
    <div id="about-2">
        <div class='content-box-lg'>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-book"></i>
                            <h3>MISSON</h3>
                            <hr>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet suspendisse interdum consectetur libero id. Pretium viverra suspendisse potenti nullam. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Amet consectetur adipiscing elit pellentesque. Nulla pharetra diam sit amet. Consectetur libero id faucibus nisl. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Pellentesque nec nam aliquam sem et tortor. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Vitae suscipit tellus mauris a diam maecenas sed. A pellentesque sit amet porttitor eget dolor. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Urna duis convallis convallis tellus. Enim sit amet venenatis urna cursus eget.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-globe"></i>
                            <h3>VISION</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet suspendisse interdum consectetur libero id. Pretium viverra suspendisse potenti nullam. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Amet consectetur adipiscing elit pellentesque. Nulla pharetra diam sit amet. Consectetur libero id faucibus nisl. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Pellentesque nec nam aliquam sem et tortor. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Vitae suscipit tellus mauris a diam maecenas sed. A pellentesque sit amet porttitor eget dolor. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Urna duis convallis convallis tellus. Enim sit amet venenatis urna cursus eget.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>ACHIEVEMENTS</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet suspendisse interdum consectetur libero id. Pretium viverra suspendisse potenti nullam. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Amet consectetur adipiscing elit pellentesque. Nulla pharetra diam sit amet. Consectetur libero id faucibus nisl. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Pellentesque nec nam aliquam sem et tortor. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Vitae suscipit tellus mauris a diam maecenas sed. A pellentesque sit amet porttitor eget dolor. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Urna duis convallis convallis tellus. Enim sit amet venenatis urna cursus eget.                            
                        </div>
                    </div>
                </div>
            </div>

        </content-box-lg>
    </div>
</section>
</body>

<%- include('footer') %>