<%- include('header') %>

<body>
  <hr class="hr-to-body" />

  <div class="container fixed-content">
    <div class="row">
      <div class="col-5">
        <div class="row">
          <h1>Flowers, what you needs</h1>
        </div>

        <hr class="hr-between-paragraph" />

        <div class="row">
          <h5>Browse between hundreds of flowers</h5>
        </div>

        <hr class="hr-between-paragraph" />

        <a href="./shop.html" class="browse">Browse</a>
      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            <img src="/img/flowers/sample-1.png" alt="flower" />
          </div>
          <div class="col">
            <img src="/img/flowers/sample-2.png" alt="flower" />
          </div>
          <div class="col">
            <img src="/img/flowers/sample-3.png" alt="flower" />
          </div>
        </div>
        <hr class="hr-hidden" />
        <div class="row">
          <div class="col">
            <img src="/img/flowers/sample-1.png" alt="flower" />
          </div>
          <div class="col">
            <img src="/img/flowers/sample-2.png" alt="flower" />
          </div>
          <div class="col">
            <img src="/img/flowers/sample-3.png" alt="flower" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-to-body" style="visibility: hidden" />
</body>

<%- include('footer') %>
