<%- include('header') %>

<body>
  <hr class="hr-to-paragraph" />

  <div
    class="container"
    style="
      height: calc(100vh - 251px);
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <form
      action="./product"
      method="post"
      style="
        display: flex;
        background-color: white;
        gap: 30px;
        padding: 30px;
        border-radius: 10px;
      "
    >
      <img
        src="/img/flowers/sample-2.png"
        alt="flower"
        style="flex: 1"
      />

      <div
        style="
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          flex: 2;
        "
      >
        <div>
          <h5>Name</h5>
          <p>
            Description: Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Quidem qui voluptates doloremque atque recusandae possimus
            rerum quod totam ducimus. Accusamus quo nulla aut nobis magni
            corporis excepturi animi quasi! Illo!
          </p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            justify-self: flex-end;
          "
        >
          <h5>Price: 5.4$</h5>
          <button class="cart-button">
            <i class="fa-solid fa-cart-shopping"></i> Add to cart
          </button>
        </div>
      </div>
    </form>
  </div>
</body>

<%- include('footer') %>
