
@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 'Trirong', serif;
}

.row{
    background: #FF8F52;
    
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #FF8F52;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: #FF8F52;
}

.btn2{
    display: inline-block ;
    padding: auto;
    text-decoration: none;
}